*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.background{
    width: 1356px;
    margin: 0 auto;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-color: #3161E0;

}
.center{
    width: 957px;
    margin: 0 auto;
}
header{
    height: 500px;
}



