*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Montserrat', sans-serif; ;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 1356px;
    margin: 0 auto;
}
.center{
    padding: 0 200px;
    margin: 0 auto;
}


/*General*/


.barra{    
    background-color: #255EE9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cl_15{
    float: left;
    width: 15%;
}
.cl_70{
    float: left;
    width: 70%;
    text-align: center;
}

.logo{
    display: inline-block;
    padding-top: 12px;
}
nav {
    display: inline;
}
ul{    
    list-style-type: none;
    padding-top: 20px;
}
li{
    display:inline-block;
    color: white;   
    padding: 0px 10px; 
    font-size: 16px;
}

.btn{
    display: inline-block;
    font-family: 'Montserrat';
    color: black;
    font-weight: 500;
    border-radius: 10rem;
    border: 0px;
    text-align: center;
    background-color: white;
    padding: 0.75rem;
}
.cl_15 .btn{
    margin-top: 12px;
    margin-left: 67px;
}
/*Menu*/


.front{
    background-image: url("../img/jumbo.png");
    height: 500px;
    background-size: cover;
    position: relative;
}

.content{
    text-align: center;
    color: white;
    width: 871px;
    margin: 0 auto;

}
h1{
    font-size: 58px;
    padding: 90px 0 30px;
}
.content p{
    font-size: 20px;
    line-height: 2rem;
}
.download_btns .btn{
    margin: 1rem;
}
.dark{
    background-color: black;
    color: white;
}
/*Front page*/

.a_page, .page_c{
    background-color: white;
}
.b_page, .d_page{
    background-color: #F6F6F6;
}
.cl_75{
    float: left;
    width: 75%;
}
.cl_75 img{
    display: block;
    height: 500px;
}
.cl_25{
    float: left;
    width: 25%;
    font-size:x-large;
}

.main{
    margin:130px 0;
}