*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.background{
    width: 1356px;
    margin: 0 auto;
}
.center{
    padding: 0 200px;
    margin: 0 auto;
}

.barra{    
    background-color: #255EE9;
    
}
.front{
    background-image: url("../img/jumbo.png");
    height: 500px;
    background-size: cover;
}

