*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.center{
    width: 957px;
    margin: 0 auto;
}
header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    height: 500px;
}
.header{
    height: 66px;
    
}
