*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Montserrat', sans-serif; ;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 1356px;
    margin: 0 auto;
}
.center{
    padding: 0 200px;
    margin: 0 auto;
}


/*General*/


.barra{    
    background-color: #255EE9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cl_15{
    float: left;
    width: 15%;
}
.cl_70{
    float: left;
    width: 70%;
}

.logo{
    display: inline-block;
    padding-top: 12px;
}
nav {
    display: inline;
}
ul{    
    list-style-type: none;
    padding-top: 20px;
    padding-left: 80px;
}
li{
    display:inline-block;
    color: white;
    padding-right: 30px;
    
}

a{
    display: inline-block;
    height: 30px;
    font-family: 'Montserrat';
    color: black;
    font-weight: 500;
    border-radius: 10rem;
    padding-top: 20px;
    border: 0px;
    text-align: center;
    padding-bottom: 39px;
    background-color: white;
}

/*Menu*/


.front{
    background-image: url("../img/jumbo.png");
    height: 500px;
    background-size: cover;
    position: relative;
}

.content{
    text-align: center;
    color: white;
    width: 614px;
    margin: 0 auto;
}
h1{
    font-size: 45px;
    padding: 100px 0 35px;
}
.content p{
    font-size: small;
    line-height: 2rem;
}

